.circle {
  position: absolute;
  background-color: var(--secondaryColor);
  filter: blur(25px);
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  transition: 250ms;
}

@media (max-width: 768px) {
  .circle {
    width: 3rem;
    height: auto;
    padding-top: 3rem;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

  }
}
