.layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);
  overflow: auto;
}

.content {
  background-color: var(--bgColor);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  height: 100%;
}



