nav {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  align-items: center;
  background-color: var(--borderColor);
  color: var(--primaryColor);
  padding: 0.2rem;
  border-radius: 10px;
  height: fit-content;
  z-index: 1;
}

.nav-btn {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    flex-grow: 1;
    padding: 1rem 3rem;
    background-color: var(--bgColor);
    border-radius: 10px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 120%;
    transition: 250ms;
}

.nav-btn:hover {
    background-color: var(--hoverColor);
    transition: 250ms;
}

.active {

}

a:link,
a:visited,
a:active {
    color: var(--primaryColor);
    text-decoration: none;
}