.upper-nav {
  position: absolute;
  left: 1.9rem;
  right: 1.9rem;
  top: 1.5rem;
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-grow: 1;
}

.name {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  cursor: pointer;
}

.job {
  align-self: flex-end;
  letter-spacing: 0.125rem;
}

.buttons {
  align-self: baseline;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  transition: 250ms;
}

.theme-btn {
  cursor: pointer;
}

.profile-pic-container {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondaryColor);
  cursor: pointer;
}

.profile-pic-container.at-home {
  /* position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  translate: 500%; */
}

.profile-pic {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .upper-nav {
  }

  .logo {
    gap: 0.5rem;
  }

  .name {
    font-size: 1rem;
    line-height: normal;
  }

  .job {
    font-size: 0.5rem;
    line-height: normal;
    letter-spacing: normal;
  }

  .buttons {
  }

  .profile-pic-container {
    width: 2.5rem;
    height: 2.5rem;
  }

  .profile-pic {
    width: 2.5rem;
    height: 2.5rem;
  }
}
