.box {
    position: relative;
    width: 2rem;
    height: 2rem;
  }
  
 .boxline {
    position: absolute;
    background-color: var(--primaryColor);
  }
  
  .horizontal-line {
    width: 100%;
    height: 3px;
    top: 50%;
    right: 0;
  }
  
  .vertical-line {
    width: 3px;
    height: 100%;
    top: 50%;
    right: 0;
  }