@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --black: #2C2C2C;
  --yellow: #E8CB80;
  --white: #D9D9D9;
  --green: #15554A; 

  --bgColorLight: var(--white);
  --borderColorLight: var(--black);
  --primaryColorLight: var(--black);
  --secondaryColorLight: var(--yellow);

  --bgColorDark: var(--black);
  --borderColorDark: var(--white);
  --primaryColorDark: var(--white);
  --secondaryColorDark: var(--green);

  --bgColor: var(--bgColorLight);
  --borderColor: var(--borderColorLight);
  --primaryColor: var(--primaryColorLight);
  --secondaryColor: var(--secondaryColorLight);

  background-color: var(--bgColor);
  color: var(--primaryColor);
  font-family: "Space Mono", monospace;
}

*, html {
    margin: 0;
}
